$main-btn: linear-gradient(to bottom, #864bff, #5082ff);
$text-color: #4a4a4a;
$bg-color: #f4f4f4;
.input-box{
    width: 70%;
    border: none;
    resize: none;
    // overflow: hidden;
//    background-color: pink;
   max-height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4a4a4a;
    font-size: 22px;
    &:focus{
        outline: none;
    }
    &::placeholder{
         color: #9d9494;
    }
    &::-webkit-scrollbar {
    display: none;
}
}

.main-btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    padding: 10px 70px;
    background-color: white;
    cursor: pointer;

    

}
    .main-btn:active{
       background-image: linear-gradient(to bottom, #864bff, #5082ff);
}

.droper{
    
     font-size: 20px !important;
     border: 1px dashed $text-color;
    height: 100%;
    width: 60%;
    font-weight: 400 !important;
}
