body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.counter{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;

}
.counter button{
  padding: 0.5rem 1rem;
  border: none;
  color: white;
}
.counter button:first-of-type{
  background-color: rgb(9, 89, 249);
}
.counter button:last-of-type{
  background-color: rgb(255, 54, 54);
}