:root{
    --text-color: #4a4a4a;
    --bg-color: #f4f4f4;
    --icon-color: #898989;
    --bg-light:white;
    --footer-icon: #898989;
    --footer-icon-hover:#181818;
    --footer-text: rgb(194, 192, 192);
    --container-shadow:rgba(0, 0, 0, .1)
}
    


.dark{
    --text-color: #f4f4f4;
    --bg-color: #181818;
     --icon-color: #ffffff;
    --bg-light:#181818;
    --footer-icon: #638eff;
    --footer-icon-hover:#fff;
    --footer-text: #638eff;
    --container-shadow:#638fff47;


}
body{
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}
// .container{
//     width: 100%;
// }

.Header-bar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    // gap: 80px;
    .links{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            gap: 60px;
            list-style: none;
          &:hover{
            cursor: pointer;
          }
            li{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
&:hover{
    cursor: pointer;
    color: var(--icon-color);
}

            }
            .btn{
                color: #638eff;
                font-weight: 700;
                &:hover{
                    cursor: pointer;
                    color: #357ae8;
                }
            }
        }
        button{
            padding: 0.5rem;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            margin-left: 1rem;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
                scale: 1.1;
            }
            .moon{
                color: var(--text-color);
                font-weight: 200;
                color: var(--icon-color);
            }
            .sun{
                color: var(--text-color);
                font-weight: 200;
                color: var(--icon-color);
            }
        }
    }
}

.container{
    .footer{
    text-align: center;
    margin-top: 40px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
    .footer-text{
        font-size: 14px;
        color: var(--footer-text);
        p{
            margin: 2px;
            margin-top: 10px;
          font-weight: 100;

        }
        a{
            text-decoration: none;
            color: #638eff;
            &:hover{
                color: var(--icon-color);
            }
        }

    }
    .footer-icons{
        margin-top: 10px;
        font-size: 24px;
        color: var(--footer-icon);
        display: flex;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
  
       .footer-icon{
            transition: all 0.3s ease-in-out;
            &:hover{
                cursor: pointer;
             color: var(--footer-icon-hover);
                
            }

    }

     
}
}

.card-container{
background-color: var(--bg-light);
margin: auto;
margin-top: 60px;
box-shadow: 0 21px 33px 0 var(--container-shadow);
height: 450px;
position: relative;
width: 60%;
min-height: 400px;
display: flex;

.img-area{
    background: var(--bg-light);
    width: 75px;
    height: 100% !important;
    align-items: center;

    // padding: 20px;
   display: flex;
   flex-direction: column;
div{
    padding-top: 50px;
}
}

.text-aera{
border: 2px solid var(--bg-light);
width: 80%;

div{
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
    padding: 25px 20px;
    width: 100%;
  margin-top: 15px;

  .dropzone-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    border: 1px dashed var(--footer-text);

    .dropzone{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  span{
    letter-spacing: 3px;
  }
}
div{
    .input{
        padding: 25px 7px;

        textarea{
        background-color: var(--bg-light);
        color: var(--text-color);
        }
    }
}
}

.btn-container{
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

}
}

