$text-color: #4a4a4a;
$bg-color: #f4f4f4;

body{
    background-color: $bg-color;
    font-family: 'Open Sans', sans-serif;
}
// .container{
//     width: 100%;
// }

.Header-bar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    // gap: 80px;
    .links{
        ul{
            display: flex;
            gap: 60px;
            list-style: none;

            li{
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    font-family: 'Open Sans', sans-serif;
            }
            .btn{
                color: #638eff;
                font-weight: 700;
            }
        }
    }
}


.card-container{
background-color: white;
margin: auto;
margin-top: 90px;
box-shadow: 0 21px 33px 0 rgba(0, 0, 0, .1);
height: 350px;
position: relative;
width: 60%;
min-height: 400px;
display: flex;

.img-area{
    background: #f8f8f8;
    width: 75px;
    height: 100% !important;
    align-items: center;

    // padding: 20px;
   display: flex;
   flex-direction: column;
div{
    padding-top: 50px;
}
}

.text-aera{
border: 2px solid #fff;
width: 80%;

div{
    font-size: 48px;
    font-weight: 700;
    color: #000;
    padding: 25px 20px;
    width: 100%;

}
div{
    .input{
        padding: 25px 7px;
    }
}
}

.btn-container{
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
}
